<fieldset class="period">
  <legend class="title">Período</legend>
  <div class="dates">
    <div class="date">
      <label>Data Inicial</label>
      <input type="date">
    </div>
  
    <div class="date">
      <label>Data Final</label>
      <input type="date">
    </div>
    <button>Buscar</button>
  </div>
</fieldset>
<div class="values">
  <section class="container">
    <div class="value">
      <span class="spotlight">Vendas Pagas</span>
      <span class="spotlight">R$ 0,00</span>
    </div>

    <div class="value">
      <span>Vendas Pendentes</span>
      <span>R$ 0,00</span>
    </div>

    <div class="value">
      <span>Vendas Total</span>
      <span>R$ 0,00</span>
    </div>
  </section>
  
  <section class="container">
    <div class="value">
      <span class="spotlight">Lucro</span>
      <span class="spotlight">R$ 0,00</span>
    </div>

    <div class="value">
      <span>Ads</span>
      <span>R$ 0,00</span>
    </div>
  </section>
</div>