:host {
  .period {
    .title {
      font-size: 24px;
      font-weight: bold;
      color: #800080;
      margin-bottom: 16px;
    }
    .dates {
      display: flex;
      align-items: flex-end;
      button {
        padding: 8px 16px;
        min-width: 120px;
        font-weight: bold;
        color: #ffffff;
        background-color: #800080;
        border-radius: 4px;
        border: none;
        &:hover {
          background-color: #660066;
        }
      }
      .date {
        display: flex;
        flex-direction: column;
        margin-right: 16px;
        input {
          min-width: 200px;
          margin-top: 8px;
        }
      }
    }
  }
  .values {
    display: flex;
    margin-top: 48px;
    .container {
      padding: 16px;
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
      width: 100%;
      border: 1px solid #eeeeee;
      &:first-child {
        margin-right: 16px;
      }
      .value {
        display: flex;
        justify-content: space-between;
        margin: 8px 0;
        .spotlight {
          color: #800080;
          font-size: 24px;
          font-weight: bold;
        }
      }
    }
  }
}